.ng-detail {
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.back-button {
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.back-button:hover {
    background-color: #155cb0;
}

.ng-images-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.ng-cropimage,
.ng-image {
    display: block;
    height: 200px;
    flex: 1;
    object-fit: scale-down;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 0;
    margin: 0 0;
}